<html>
<head>
    <title>HowToGo</title>
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<div class="container-fluid">

  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#myNavbar" aria-expanded="false" aria-controls="myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/welcome/index">HOWTOGO</a>
          </div>
          <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/create/create">Create</a></li>
              <li><a href="/search/search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><p class="navbar-text text-center"><strong>Pleiades Orbital 2015</strong></p></li>
            </ul>
         </div>
      </div>
  </nav>

	<div class="page-header text-center">
		<h1>Search QuikMap</h1>
	</div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <%= form_tag("/search/search", :method => "get", id: "search-form") do %>
                <div class="input-group">
                    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for QuikMaps" %>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Find! <span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
                <div>
                    <%= text_field_tag :tags, params[:tags], class: "form-control", style: "display:table-cell; width:100%", placeholder: "Tags separated by commas" %>
                </div>
            <% end %>
        </div>
    </div>

	<div class="media well well-sm col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12" style="visibility:<%= @visibility %>">
	  <div class="media-left media-middle">
		<a href="#">
		</a>
	  </div>
	  <div class="media-body">
		<h4 class="media-heading">Map Search Results</h4>
	  </div>
	</div>

    <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
        <div class = "list-group">
          <% @maps.each do |map| %>
          <% if map[0].title != "" %>
            <a href="\view\view?mapid=<%=map[0].id%>" class = "list-group-item"><span class="col-lg-6 col-md-6 col-sm-12 col-xs-12">QuikMap To: <b><%=map[0].title %></b></span>
              <span class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Created: <%=map[0].created_at.strftime('%a %d %b %Y') %></span>
              <span>Tags: <%=map[0].all_tags%>
            </a>
          <% end %>
          <% end %>
        </div>
    </div>

</div>
</body>
</html>
