<html>
<head>
    <title>HowToGo</title>
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= javascript_tag do %>
        mapdata = $('<div />').html('<%= @map_data %>').text();
    <% end %>

    <%= javascript_include_tag "view" %>

    <!-- <div class="container-fluid"> -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#myNavbar" aria-expanded="false" aria-controls="myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/welcome/index">HOWTOGO</a>
            </div>
            <div class="navbar-collapse collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="/create/create">Create</a></li>
                <li><a href="/search/search">Search</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Pleiades Orbital 2015</p></li>
              </ul>
           </div>
        </div>
    </nav>

    <div class="page-header text-center">
        <h2>QuikMap To: <u><span id="mapname"></span></u></h2>
    </div>

    <section>
      <div class=" row">
          <div id="left" class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
          <div id="app" class="hidden-xs col-lg-8 col-md-8 col-sm-11 col-xs-11 ui-widget-header" style="height:500px">
              <canvas id="canvas" height="1200px" width="1200px"></canvas>
          </div>
          <div id="right" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          </div>

      <div class="row col-lg-8 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-sm-offset-1 ui-widget-header" id="usertools">
            <form class="form-inline text-center">
                <b>QuikMap Link : </b>
                <input type="text" class='form-control' id="copyLinkArea" value="<%= @map.shortURL %>">
                <button class="btn btn-default" type="button" id="copyLinkButton"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Copy </button>
                <div class="btn-group dropup">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Download Map
                  <span class="caret"></span>
                  </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a id="download_low" download="image.jpg">Low Quality</a></li>
                      <li><a id="download_high">High Quality</a></li>
                    </ul>
                </div>
                <!-- Pseudo - Triangulation -->
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Where Am I? <span class="caret"></span>
                  </button>
                  <div id="no_close" class="dropdown-menu">
                    <p style ="padding:5px"> Enter landmarks that you see around you.</p>
                    <ul id="triangle_landmarks" class="list-unstyled">
                    </ul>
                    <li role="separator" class="divider"></li>
                    &nbsp;&nbsp;&nbsp;<button id="triangle_submit" class="btn btn-default" type="button">Submit </button>
                  </div>
                </div>
            </form>
      </div>
    </section>

    <div id="images">
        <%= image_tag("digital.svg", size:"50x50", id:"digitalimg") %>
        <%= image_tag("lifestyle.svg", size:"50x50", id:"lifestyleimg") %>
        <%= image_tag("food.svg", size:"50x50", id:"foodimg") %>
        <%= image_tag("fashion.svg", size:"50x50", id:"fashionimg") %>
        <%= image_tag("services.svg", size:"50x50", id:"servicesimg") %>
        <%= image_tag("structures.svg", size:"50x50", id:"structuresimg") %>
    </div>

</div>

</body>
</html>
