<html>
<head>
    <title>HowToGo</title>
</head>
<body>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= javascript_include_tag "bezier" %>
  <%= javascript_include_tag "create" %>

  <%= javascript_tag do %>
      var introTrue = <%= @introTrue %>;
  <% end %>

  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#myNavbar" aria-expanded="false" aria-controls="myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/welcome/index">HOWTOGO</a>
          </div>
          <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/create/create">Create</a></li>
              <li><a href="/search/search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><p class="navbar-text text-center"><strong>Pleiades Orbital 2015</strong></p></li>
            </ul>
         </div>
      </div>
  </nav>

  <div id="mobile" class="col-lg-6 col-offset-lg-3 col-md-10 col-offset-md-1 col-sm-10 col-offset-sm-1 col-xs-10 col-offset-xs-1">
      <p>Mobile creation of maps is not supported at this time.</p>
  </div>

  <div id="notinmobile">
    <div class="page-header text-center">
	  <h1>Create QuikMap</h1>
      <div id="nameMap" class="input-group col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
      	    <span class="input-group-addon">QuikMap to:</span>
      	    <input id="titleinput" type="text" class="form-control" placeholder="New Location Name" aria-describedby="basic-addon1">
  		</div>
	</div>

    <div id="editpane" class="row">
       <div id="toolbar" class="col-lg-2 col-md-2 col-sm-1 col-xs-1 text-center">

            <button id="selectbutton" type="button" class="btn btn-info btn-lg" title="Select">
                <span class="glyphicon glyphicon-hand-up" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="drawbutton" type="button" class="btn btn-info btn-lg" title="Draw Line">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="landmarkbutton" type="button" class="btn btn-info btn-lg" title="Add Landmark">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="removebutton" type="button" class="btn btn-info btn-lg" title="Remove">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="undobutton" type="button" class="btn btn-info btn-lg" title="Undo">
                <%= image_tag("undo.svg", size:"36x36", :style => "-webkit-filter: invert(1); filter: invert(1);") %>
            </button>
            <button id="redobutton" type="button" class="btn btn-info btn-lg" title="Redo">
                <%= image_tag("redo.svg", size:"36x36", :style => "-webkit-filter: invert(1); filter: invert(1);") %>
            </button>

            <hr/>
            <div id = "blankdiv">
            <br><br><br><br><br><br><br><br><br><br>
            </div>
            <div id="selectdiv">
              <h4>Select</h4>
              <p>
                Modify properties of existing landmarks by clicking on them
              </p>
            </div>
            <div id="drawdiv">
              <h4>Draw Route</h4>
              <p>
                Click anywhere on the canvas to start
                Choose the <b>Line Type</b> below:
              </p>
              <input type="checkbox" id='isStraight' checked>
              <div id="curvydiv">
                <p>Simple curves for those curvy lanes out there!</p>
                <p><%= image_tag("curvy.png",size:"100x100")%></p>
              </div>
            </div>
            <div id="landmarkdiv">
              <h4>Add Landmark</h4>
              <p>
                  Add landmarks by clicking on the map. You can add important points
                  like the destination or general landmarks.
                </p>
                <input type="checkbox" id='isLandmark' checked>
            </div>
            <div id="removediv">
              <h4>Remove</h4>
              <p>
                Remove objects by clicking on them
              </p>
            </div>
            <div id="undodiv">
                <h4>Undo</h4>
            </div>
            <div id="redodiv">
                <h4>Redo</h4>
            </div>
		</div>

    	<div id="app" class="col-lg-8 col-md-8 col-sm-11 col-xs-11 ui-widget-header" >
            <canvas id="canvas" height ="1200px" width ="1200px"></canvas>
    	</div>

    	<div id="instructions" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <center>
        <button id="howtousebutton" type="button" class="btn btn-lg btn-warning text-center">HowToDraw a <ins>good</ins> QuikMap?</button>
        </center>
		   <!--<ol>
				<li>Name your QuikMap after its <b>destination</b>!</li>
				<li>Add routes to the destination</li>
        <li>Add in landmarks along that route! Usually
           <ul>
             <li><b>3</b> per junction</li>
             <li><b>2</b> per lane</li>
           </ul>
				<li>Click submit below!</li>
			 </ol>-->
        <hr/>
        <form action="/create/submit" method="post" id="submitform" class="text-center">
            <input id="mapdatainput" type="hidden" name="map_data" value=""/>
            <input id="titlehiddeninput" type="hidden" name="title" value=""/>
            <input id="tagsinput" type="text" name="tags" value="" placeholder="Write your tags here"/>
            <p style="margin-bottom: 0.3cm"></p>
            <p class="text-center" style="margin-left:20px; margin-right:20px">
                Add tags that describes your map, separated with commas.
            </p>
            <hr/>
            <button id="submitbutton" type="submit" class="btn btn-lg btn-default btn-success text-center">Submit!</button>
        </form>
    	</div>

        <div id="pointpopover" class="popover" style="width:150px">
            <div class="text-center">
                <p style="font-size:13px">Type in the name and click on the icon.</p>
        	    <input style="font-size:13px" id="pointinput" type="text" class="form-control" placeholder="Point Name" aria-describedby="basic-addon1"/>
                <div class="row">
                    <button id="startbutton" type="button" class="btn btn-default btn-lg text-center" style="width:70px; height:70px">
                        <%= image_tag("start.svg", size:"40x40", id:"startimg") %>
                        <p style="font-size:12px">Start</p>
                    </button>
                    <button id="endbutton" type="button" class="btn btn-default btn-lg text-center" style="width:70px; height:70px">
                        <%= image_tag("end.svg", size:"40x40", id:"endimg") %>
                        <p style="font-size:12px">End</p>
                    </button>
                </div>
                <div class="row">
                    <button id="trainbutton" type="button" class="btn btn-default btn-lg text-center" style="width:70px; height:70px">
                        <%= image_tag("station.svg", size:"40x40", id:"trainimg") %>
                        <p style="font-size:12px">Station</p>
                    </button>
                    <button id="busbutton" type="button" class="btn btn-default btn-lg text-center" style="width:70px; height:70px">
                        <%= image_tag("busstop.svg", size:"40x40", id:"busimg") %>
                        <p style="font-size:12px">Bus Stop</p>
                    </button>
                </div>
            </div>
        </div>

        <div id="landmarkpopover" class="popover" style="width:150px">
            <div class="text-center">
                <p style="font-size:13px">Type in the name and click on the icon.</p>
        	    <input style="font-size:13px" id="landmarkinput" type="text" class="form-control" placeholder="Landmark Name" aria-describedby="basic-addon1"/>
                <div class="row">
                    <button id="digitalbutton" type="button" class="btn btn-default btn-lg text-center" style="width:70px; height:70px">
                        <%= image_tag("digital.svg", size:"40x40", id:"digitalimg") %>
                        <p style="font-size:12px">Digital</p>
                    </button>
                    <button id="lifestylebutton" type="button" class="btn btn-default btn-lg text-center" style="width:70px; height:70px">
                        <%= image_tag("lifestyle.svg", size:"40x40", id:"lifestyleimg") %>
                        <p style="font-size:12px">Lifestyle</p>
                    </button>
                </div>
                <div class="row">
                    <button id="foodbutton" type="button" class="btn btn-default btn-lg text-center" style="width:70px; height:70px">
                        <%= image_tag("food.svg", size:"40x40", id:"foodimg") %>
                        <p style="font-size:12px">F&B</p>
                    </button>
                    <button id="fashionbutton" type="button" class="btn btn-default btn-lg text-center" style="width:70px; height:70px">
                        <%= image_tag("fashion.svg", size:"40x40", id:"fashionimg") %>
                        <p style="font-size:12px">Fashion</p>
                    </button>
                </div>
                <div class="row">
                    <button id="servicesbutton" type="button" class="btn btn-default btn-lg text-center" style="width:70px; height:70px">
                        <%= image_tag("services.svg", size:"40x40", id:"servicesimg") %>
                        <p style="font-size:12px">Service</p>
                    </button>
                    <button id="structuresbutton" type="button" class="btn btn-default btn-lg text-center" style="width:70px; height:70px">
                        <%= image_tag("structures.svg", size:"40x40", id:"structuresimg") %>
                        <p style="font-size:12px">Stucture</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

<div class="text-center">
    <p>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
</div>
</div>
</body>
</html>
